<h4>Post details:</h4>
<h4>Comments:</h4>

<p>
  <br />
    <%= @comments.content %>
  </p>
  <span style="font-size: 75%; color:#8f8e8f">Added at: <%= @comments.created_at %></span>
  <hr />

<form action="/details/<%= @row.id %>" method="POST" role="form">

<div class="form-group">
  <label for="exampleFormControlTextarea1">add comment</label>
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your smart text" rows="6"></textarea>
</div>

<button type="submit" class="btn btn-primary">Add comment</button>

</form>
