<h2>Latest posts:</h2>
<br />
  <% @posts.each do |row| %>
<p>
<h4><%= row.author %></h3>
<br />
  <%= row.content %>
<br />
Added at  <%= row.created_at %>
  <br />
    <a href="/details/<%= row.id %>">Comments</a>
</p>
<hr />
  <% end %>
