<h2>Add new post</h2>
<p>
  <form action="/new" method="POST" role="form">

  <div class="form-group">
      <label>Author name</label>
      <input name="post[author]" type="text" class="form-control" placeholder="Please, enter your name" >
    </div>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">For text</label>
    <textarea name="post[content]" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your smart text" rows="15" value="%= @db.content %"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
</p>
